
.ant-layout-header{
    background-color: #1f77b4 !important;
    color: white !important;
    font-size: 32px !important;
}
.content-wrapper{
    padding: 50px !important;
}
.number-string{
    font-size: 60px !important;
    color: #1f77b4 !important;
}
.ant-layout-content{
    background-color: white !important;
}
.ant-card{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius: 30px !important
 ;
}